.elementor-24 .elementor-element.elementor-element-b44fb2e{margin-top:110px;margin-bottom:0px;}.elementor-24 .elementor-element.elementor-element-5f8e4e3{text-align:center;}.elementor-24 .elementor-element.elementor-element-5f8e4e3 .elementor-heading-title{color:#6F4A8F;font-family:"Fredoka One", Sans-serif;font-size:34px;font-weight:400;}.elementor-24 .elementor-element.elementor-element-5f8e4e3 > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-24 .elementor-element.elementor-element-74ff699 > .elementor-widget-container{padding:0% 7% 0% 7%;background-color:#F9F5FC;border-radius:2px 2px 2px 2px;}/* Start custom CSS for shortcode, class: .elementor-element-74ff699 */.elementor-24 .elementor-element.elementor-element-74ff699 {
    font-size: 16px;
}
.elementor-24 .elementor-element.elementor-element-74ff699 .woocommerce-form {
    padding: 50px;
}
.elementor-24 .elementor-element.elementor-element-74ff699 label {
    font-weight: 500;
    color: #111;
}
.elementor-24 .elementor-element.elementor-element-74ff699 .button {
    border: none;
}
.elementor-24 .elementor-element.elementor-element-74ff699 .button {
    border-radius: 3px;
}/* End custom CSS */
body {
    background-position: center !important;
}